<div class="row">
    <div id="lang-select" class="pull-right">
        <a id="en" ng-click="updateLang('en')">en</a><span> | </span>
        <a id="ru" ng-click="updateLang('ru')">ru</a>
    </div>
    <div class="page-header">
        <h1>AfterWords <small>Editing and coaching for your English writing</small></h1>
    </div>
</div>

<div class="row">
    <div class="navbar" ng-controller="HeaderController">
        <div class="navbar-inner">
            <ul class="nav">
                <li ng-class="{ active: isActive('/')}"><a href="/" i18n="nav.home"></a></li>
                <li ng-class="{ active: isActive('/about-us')}"><a href="/about-us" i18n="nav.about-us"></a></li>
                <li ng-class="{ active: isActive('/faq')}"><a href="/faq" i18n="nav.faq"></a></li>
                <li ng-class="{ active: isActive('/editors')}"><a href="/editors" i18n="nav.editors"></a></li>
                <li ng-class="{ active: isActive('/prices')}"><a href="/prices" i18n="nav.prices"></a></li>
                <li ng-class="{ active: isActive('/contacts')}"><a href="/contacts" i18n="nav.contacts"></a></li>
            </ul>
            <ul class="nav pull-right" ng-hide="login.user">
                <li><a id="sign_in" ng-click="openLoginDialog()" i18n="login.sign-in"></a></li>
                <li><a id="register" ng-click="openRegistrationDialog()" i18n="login.register"></a></li>
            </ul>
            <ul class="nav pull-right" ng-show="login.user">
                <li><a id="greeting">{{'login.greeting' | i18n}}, {{login.user.firstName}}</a></li>
                <li><a id="logout" ng-click="login.disconnect()">{{'login.logout' | i18n}}</a></li>
            </ul>
        </div>
    </div>
</div>