<div class="row">
    <div id="lang-select" class="pull-right">
        <a id="en" ng-click="updateLang('en')">en</a><span> | </span>
        <a id="ru" ng-click="updateLang('ru')">ru</a>
    </div>
    <div class="page-header">
        <h1>AfterWords <small>Editing and coaching for your English writing</small></h1>
    </div>
</div>
<div class="row">
    <div class="span4 pull-right">
        <p class="pull-right">
            <a class="btn" i18n="login.sign-in"></a>
            <a class="btn" i18n="login.register"></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="pull-right">
        <p>
            <span i18n="login.sign-in-via"></span> <i class="icon-facebook-sign" style="font-size: 20px;"></i>
            <i class="icon-twitter-sign" style="font-size: 20px;"></i>
        </p>
    </div>
</div>
<div class="row">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active"><a href="#/" i18n="nav.home"></a></li>
                <li><a href="#/about-us" i18n="nav.about-us"></a></li>
                <li><a href="#/faq" i18n="nav.faq"></a></li>
                <li><a href="#/editors" i18n="nav.editors"></a></li>
                <li><a href="#/prices" i18n="nav.prices"></a></li>
                <li><a href="#/contacts" i18n="nav.contacts"></a></li>
            </ul>
        </div>
    </div>
</div>