.line_top
.head
  %center
    %header
      %h1 AfterWords
      %h3 Editing and coaching for your English writing
    %img.logo{:src => "/templates/afterwords/img/logo.jpg"}/
  #registermenu.enter
    %ul#mainlevel-nav
      %li
        %a.mainlevel-nav{:href => "/index.php?option=com_user&view=login&Itemid=7"} ВОЙТИ
      %li
        %a.mainlevel-nav{:href => "/index.php?option=com_user&view=register&Itemid=8"} ЗАРЕГИСТРИРОВАТЬСЯ
    /
      <button class="btn1">ВОЙТИ</button>
      <button class="btn1">ЗАРЕГИСТРИРОВАТЬСЯ</button>
      \!
.nav
  #mainmenu.line
  %ul.menu
    %li#current.active.item1
      %a{:href => "http://www.afterwords.ru/"}
        %span Главная
    %li.item2
      %a{:href => "/index.php?option=com_content&view=article&id=3&Itemid=2"}
        %span О нас
    %li.item3
      %a{:href => "/index.php?option=com_content&view=article&id=4&Itemid=3"}
        %span F.A.Q.
    %li.item4
      %a{:href => "/index.php?option=com_content&view=article&id=5&Itemid=4"}
        %span Редакторы
    %li.item5
      %a{:href => "/index.php?option=com_content&view=article&id=6&Itemid=5"}
        %span Цены
    %li.item6
      %a{:href => "/index.php?option=com_content&view=article&id=7&Itemid=6"}
        %span Контакты