<p class="lead">AfterWords– первый сайт, предлагающий услуги по редактированию текстов и обучению улучшения навыков
    письма на английском в России. Компания создана группой опытных преподавателей и редакторов.</p>

<p>Все тексты редактируются опытными профессиональными редакторами - носителями языка, каждый из которых прекрасно пишет
    и чувствует язык (узнайте больше о наших редакторах здесь-ссылка на раздел «наши редакторы»)
    Мы редактируем тексты различных жанров, включая деловые, рекламные, маркетинговые материалы, академические работы,
    меню и тексты любых других жанров.</p>

<p>Наши редакторы исправят грамматические, стилистическиеошибки, неправильное написание слов, слова и выражения, не
    употребляемые в современной речи, заменят на современные – Ваш текст будет выглядеть так, как будто он написан
    носителем языка.</p>

<p>Стоимость редактирования одной страницы – 200 рублей. Скидка на большие объемы.
    Мы также предлагаем детальный разбор ошибок в тексте за дополнительную плату в размере 700 рублей за страницу. Вы
    получите подробный анализ Ваших ошибок(грамматика, правописание, стиль, правильное употребление слов и выражений) с
    объяснением того, почему редактор внес изменения в Ваш текст.</p>

<p>Для наших лояльных клиентов (те, для кого мы редактируем хотя бы 1 страницу в неделю) мы предлагаем отчет о
    достигнутом прогрессе каждые 3 месяца. Вы увидите, в чем Вы улучшили навыки письма на английском, и над чем Вам еще
    надо работать. На данный момент это предложение бесплатно! Отличный способ научиться лучше вести деловую
    переписку!</p>

<p><span class="lead">AfterWords – your text in native English</span></p>
