<p class="lead">AfterWords-first site that offers services for editing and improving the training of writing skills in
    English in Russia. The company founded by a group of experienced teachers and editors.</p>

<p>All texts are edited by experienced professional editors - native speakers, each of which is beautifully written and
    a sense of language (find out more about our editors here, a reference to the section "our editors")
    We edit the texts of various genres, including business, advertising, marketing materials, academic work, the menu
    and the text of any other genres.</p>

<p>Our editors will correct grammar, stilisticheskieoshibki, misspelled words, words and expressions that are not used
    in the modern speech, would be replaced by modern - your text will look like if it were written by a native
    speaker.</p>

<p>The cost of editing a page - 200 rubles. Discount for large volumes.
    We also offer a detailed analysis of errors in the text for an additional fee of 700 rubles per page. You will
    receive a detailed analysis of your errors (grammar, spelling, style, proper use of words and phrases) with an
    explanation of why the editor has made changes to your message.</p>

<p>To our loyal customers (those for whom we are editing at least one page a week), we offer a report on progress every
    three months. You will see what you have improved writing skills in English, and over what you still have to work.
    At the moment this offer for free! A great way to learn how to better conduct business correspondence!</p>

<p><span class="lead">AfterWords - your text in native English</span></p>