<h1>Editors</h1>

<h2> Sandy Higgs - Editor in Chief</h2>
<p>Sandy - an experienced editor and English teacher from Australia. He has worked in radio, advertising, sales and marketing department, a major news agencies - he is familiar with the different styles of the language. Sandy also leads his column in a major news agency.</p>
<p>Sandy 6 years living in Moscow, he taught business English top executives of large companies, taught students how to academic writing. After that, Sandy moved to the position of editor-in style in the major news agency. He is familiar with the peculiarities of Russian letters, typical mistakes and knows how to write a business letter, diploma, poster and more.</p>


<h2> Jon Kenyon - Editor</h2>
<p>John Kenyon - editor and writer with extensive experience. He has experience in all traditional forms of writing, as well as in new media. John citizen of the United Kingdom and Australia, where he worked as a copywriter in advertising agencies, editor of the books, was creative director of radio and television writing for corporations, magazines and music companies.</p>
<p>He has written many scripts for films, children's books and theater plays. John is also a published author of short stories and short stories (his representative is Curtis Brown Sydney).</p>
<p>John received a degree in linguistics and German, he graduated with honors .... John is very good feel for the text, paying attention to the tiniest details, and knows the power of semantics in the letter. He continued his studies in the field of writing for advertising and also worked as a translator and teacher.</p>