<h1>Редакторы</h1>

<h2>Sandy Higgs - Главный редактор</h2>
<p>Санди – опытный редактор и преподаватель английского языка из Австралии. Он работал на радио, в рекламе, в отделе продаж и маркетинга, в крупных новостных агенствах, – он хорошо знаком с различными стилями языка. Санди также ведет свою колонку в крупном новостном агенстве.</p>
<p>Санди 6 лет живет в Москве, он преподавал деловой английский топ-менеджерам крупных компаний, обучал студентов правилам академического письма. После этого Санди перешел на позицию редактора по стилю в крупное новостное агенство. Он хорошо знаком с русскими особенностями письма, типичными ошибками и знает, как написать деловое письмо, диплом, рекламный плакат и многое другое.</p>


<h2>Jon Kenyon – Редактор</h2>
<p>Джон Кенион – редактор и писатель с большим опытом работы. У него есть опыт работы во всех традиционных видах письма, а также в новых СМИ. Джон гражданин Великобритании и Австралии, где он работал копирайтером в рекламных агенствах, редактором книг, был креативным директором радиостанции и писал для телевизионных корпораций, журналов и музыкальных компаний.</p>
<p>Он написал много сценариев для фильмов, детские книги и театральные пьесы. Джон также автор опубликованных новелл и коротких рассказов ( его представителем является Curtis Brown Sydney).</p>
<p>Джон получил высшее образование в области лингвистики и немецкого языка, он с отличием закончил…. Джон очень хорошо чувствует текст, обращая внимание на малейшие нюансы, и знает силу семантики в письме. Он продолжил обучение в сфере письма для рекламы, а также работал как переводчик и преподаватель.</p>
