<h2>Часто задаваемые вопросы</h2>
<ol>
    <li>Сколько времени уйдет на редактирование моего текста?</li>

На данный момент – до 24 часов, однако мы планируем сократить это время, наша цель -присылать отредактированный текст в течение 30 минут.

    <li>Как я могу оплатить заказ?</li>
Вы можете оплатить заказ через Qiwi кошелек, данный сервис позволяет оплатить заказ банковской картой. Мы также планируем добавить другие способы оплаты - такие как PayPal, Яндекс деньги и другие.

    <li>Почему я должен регистрироваться?</li>
Нам нужен адрес Вашей электронной почты для того, чтобы отправить Вам отредактированный текст.

    <li>Кто редактирует мой текст?</li>
Ваш текст будет отредактирован профессиональными редакторами с большим опытом работы из Великобритании, Австралии и Канады.

    <li>Могу ли я быть уверен в конфиденциальности моего текста?</li>
Да, мы гарантируем полную конфиденциальность всех текстов. Единственный человек, который увидит Ваш текст – редактор, который будет на д ним работать. Мы дорожим нашей репутацией и заботимся о Вашей конфиденциальности.

    <li>Что такое «разбор ошибок»? зачем он мне?</li>
Разбор ошибок – это подробный анализ ошибок - грамматических, стилистических и правописания, которые Вы допустили в своем тексте. Вы получите объяснение тому, почему те или иные части Вашего текста нуждаются в исправлении. Он Вам нужен для того, чтобы Вы смогли избежать повторения одних и тех же ошибок в дальнейшем – чтобы Вы учились писать лучше, вместо того чтобы натыкаться на одни и те же ошибки и неточности.

    <li>Что такое отчет о достигнутом прогрессе? Могу ли я получить его бесплатно?</li>
В отчете о достигнутом прогрессе Вы узнаете о том, в чем Вы улучшили навыки письма за последние 3 месяца, и над чем Вам еще стоит поработать. Вы также получите ссылки на полезные материалы, которые Вам необходимо будет изучить для того, чтобы продолжать учиться грамотно и корректно писать на английском языке. Данная услуга является бесплатной для наших постоянных клиентов в течение первых 6ти месяцев пользования AfterWords. Лояльный клиент – это тот, кто посылает как минимум 1 страницу текста раз в неделю.

    <li>Какие аспекты текста будут редактироваться?</li>
Стиль, грамматика, правописание, пунктуация, корректное использование слов и выражений, тон, построение – а также все остальное по Вашему запросу.

    <li>Я хочу, чтобы редактор уделил особое внимание определенной части текста/придал тексту определенную интонацию, стиль. Как я могу это сделать?</li>
Вы можете добавить сообщение редактору и он обязательно учтет все Ваши пожелания при работе с Вашим текстом.

    <li>Я случайно отправил не тот текст. Как я могу отменить заказ и отправить необходимый текст?</li>
Олег, как ты думаешь, как это можно сделать?

    <li>Мой текст короче страницы, каков минимальный заказ?</li>
Минимальный заказ – 1 страница= 250 рублей.
</ol>