<h2> Frequently Asked Questions </h2>
<ol>
    <li> How long will it take to edit my text? </li>

    At the moment - up to 24 hours, but we plan to reduce this time, our goal is to send the edited text for 30 minutes.

    <li> How can I pay? </li>
    You can pay through Qiwi Wallet, this service allows you to pay for your order by credit card. We also plan to add other payment methods - such as PayPal, Yandex Money, and others.

    <li> Why should I register? </li>
    We need your email address to send you the edited text.

    <li> who edits my text? </li>
    Your text will be edited by a professional editor with extensive experience in the UK, Australia and Canada.

    <li> Can I be assured of confidentiality of my text? </li>
    Yes, we guarantee the confidentiality of all texts. The only person who will see your text - editor that will be a work with. We value our reputation and we care about your privacy.

    <li> What is a "parse error"? why should I? </li>
    Parsing error - is a detailed error analysis - grammatical, stylistic and spelling that you made in your text. You will receive an explanation as to why certain parts of your text should be corrected. You want it to, so that you can avoid repeating the same mistakes in the future - that you learn to write better, instead of bumping into the same errors and inaccuracies.

    <li> What is a report on progress? Can I get it for free? </li>
    In a report on the progress you will learn about what you are writing skills have improved over the last 3 months, and over what you have to work on. You will also get links to useful materials that you will need to explore in order to continue to learn to competently and correctly write in English. This service is free for our loyal customers during first 6 months of using AfterWords. Loyal customer - is the one who sends at least one page of text once a week.

    <li> What aspects of the text to be edited? </li>
    Style, grammar, spelling, punctuation, correct use of words and expressions, tone, building - as well as everything else on your request.

    <li> I want the editor has paid particular attention to a specific part of the text / text gave a certain tone and style. How can I do that? </li>
    You can add a message to the editor, and he is sure to take into account all your wishes when working with your text.

    <li> I accidentally sent the wrong text. How can I cancel the order and send the required text? </li>
    Oleg, do you think this can be done?

    <li> My text is shorter than the page, what is the minimum order? </li>
    Minimum order - 1 page = 250 rubles.
</ol>