<div ng-hide="login.user">
  <div class="modal-header">
    <h1 i18n="login.sign-in"></h1>
  </div>
  <form id="login" action="" ng-submit="login.connect()">
    <fieldset>
      <!--<legend>Login</legend>-->
      <div class="modal-body">
        <div id="login-info" class="span6">
          <!--must add a pattern attribute to the email field as AngularJS has a more strict pattern than chrome (not sure about other browsers-->
          <p><label class="required" i18n="common.email"></label>
            <input ng-model="login.email" name="email" type="email"
                   pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                   placeholder="{{'common.email' | i18n}}" required/></p>

          <p><label class="required" i18n="login.password"></label>
            <input ng-model="login.password" name="password" type="password"
                   placeholder="{{'login.password' | i18n}}" required/></p>

        </div>
        <div class="span6"><span id="required-fields" class="muted" i18n="login.required-fields"></span></div>
        <div class="switch span6 muted">
          <span class="pull-right">{{'login.need-to-register' | i18n}} <a ng-click="switch()" i18n="login.register"></a></span>
        </div>
      </div>
      <div class="modal-footer">
        <p>
          <button type="submit" class="btn btn-primary" i18n="login.sign-in"></button>
          <a ng-click="login.cancel()" class="btn" i18n="common.cancel"></a>
        </p>
      </div>
    </fieldset>
  </form>
</div>