<div id="main" class="row">
    <div class="">
        <div class="row">
            <h1 class="text-center" i18n="main.heading"></h1>

            <div class="span6 offset3">
                <p class="text-center" i18n="main.description"></p>
            </div>
        </div>

        <div ng-switch on="process.currentStep">
            <div ng-switch-when="step1"><div ng-include src="'views/step1.html'"></div></div>
            <div ng-switch-when="step2"><div ng-include src="'views/step2.html'"></div></div>
            <div ng-switch-when="step3"><div ng-include src="'views/step3.html'"></div></div>
            <div ng-switch-default><div ng-include src="'views/step1.html'"></div></div>
        </div>



    </div>
</div>
