<div id="main" class="row">
    <div class="">
        <h1 class="text-center">Editing text is now very easy</h1>

        <div class="span6 offset3">
            <p class="text-center">Just 3 steps and your text will be brought to perfection by professional editors =
                native speakers - 200 rubles per page, within 24 hours</p>
        </div>

        <div id="new-job-steps" class="row">
            <div class="span4">
                <p>Step 1 <i class="icon-arrow-down"></i></p>
            </div>
            <div class="span4">
                <p>Step 2</p>
            </div>
            <div class="span4">
                <p>Step 3</p>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <textarea class="span12" rows="10"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <button class="btn-primary">Continue</button><span> or </span>
                <button class="btn-warning">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <label class="checkbox">
                    <input type="checkbox" value="">
                    I agree to the <a href="#">Terms and Conditions</a>
                </label>
            </div>
        </div>
    </div>
</div>
