<div id="demo-step-2">
  <div class="row">
    <div id="cost" class="span6">
      <h3>{{'main.step2.your-order' | i18n}} - <span id="word_count">{{awdoc.wordCount()}}</span> {{'main.step2.words' | i18n}}</h3>

      <h2>{{'main.step2.cost' | i18n}} <span id="quote_cost">{{awdoc.cost()}}</span> {{'main.step2.rubles' | i18n}}</h2>

      <p><input type="checkbox" ng-model="awdoc.includeAnalysis" /> {{'main.step2.errors-option' | i18n}}</p>

      <p i18n="main.step2.errors-description"></p>
    </div>
    <div id="payment-options" class="span6">
      <h2 i18n="main.step2.how-to-pay"></h2>

      <p><img ph-img="60x60"/>{{'main.step2.pay-by-kiwi' | i18n}}</p>

    </div>
  </div>
  <!--<div class="row">-->
  <!--<accordion close-others="true">-->
  <!--<accordion-group heading="Original Document">-->
  <!--<div id="demo-original-text" class="well">{{awdoc.text}}</div>-->
  <!--</accordion-group>-->
  <!--</accordion>-->
  <!--</div>-->

</div>
<div class="row">
  <div class="span12">
    <button id="continue" ng-class="{'btn-primary': awdoc.agreeTerms == true}"
            ng-disabled="!awdoc.agreeTerms" ng-click="awdoc.submit();"
            i18n="main.confirm-order">
    </button>
    <span> or </span>
    <button id="cancel" ng-class="{'btn-warning': awdoc.agreeTerms == true}"
            ng-disabled="!awdoc.agreeTerms" ng-click="process.cancel()" i18n="main.cancel">
    </button>
  </div>
</div>