<div id="new-job-steps" class="row">
    <div class="span4">
        <p><span id="step1">1.</span> <small>Copy and paste your text here</small>
            <i class="icon-arrow-down"></i></p>
    </div>
    <div class="span4">
        <p><span id="step2">2.</span> <small>Find out the cost and pay online</small></p>
    </div>
    <div class="span4">
        <p><span id="step3">3.</span> <small>Get the text to your e-mail address</small></p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <textarea name="aw-document-text" class="span12" rows="10" ng-model="awdoc.text"></textarea>
    </div>
</div>

<div class="row">
    <div class="span2 offset10">Word count: <span id="word-count-value">{{awdoc.wordCount()}}</span> </div>
</div>
<div class="row">
    <div class="span12">
        <label class="checkbox">
            <input type="checkbox" ng-model="awdoc.agreeTerms">
            I agree to the <a href="#">Terms and Conditions</a>
        </label>
    </div>
</div>
<div class="row">
    <div class="span12">
        <button id="continue" ng-class="{'btn-primary': awdoc.agreeTerms == true}"
                ng-disabled="!awdoc.agreeTerms" ng-click="process.currentStep = 'step2'">Continue</button>
        <span> or </span>
        <button id="cancel" ng-class="{'btn-warning': awdoc.agreeTerms == true}"
                ng-disabled="!awdoc.agreeTerms" ng-click="process.cancel()")>Cancel</button>
    </div>
</div>